
<div class="intro">
    <div class="intro-text">
        <h1>Find Yourself Here</h1>
         {# <h1>Se Retrouver Ici</h1> #}
        <button>book now</button>
    </div>
    <div class="intro-window">
    </div>
</div>