
<div class="intro reveal">
    <div class="intro-text">
        <h1 >Se Retrouver Ici</h1>
         {# <h1>Find Yourself Here  |  retrouvez-vous ici</h1> #}
        <a href="{{ path('app_home') }}" class="btn-design">réserver</a>
    </div>
    <div class="intro-window">
    </div>
</div>