
<div class="intro reveal">
    <div class="intro-text">
        <h1 >Find Yourself Here</h1>
         {# <h1>Se Retrouver Ici  |  retrouvez-vous ici</h1> #}
        <button class="btn-design">réserver</button>
    </div>
    <div class="intro-window">
    </div>
</div>