
<div class="intro reveal">
    <div class="intro-text">
        <h1 >Retrouve-toi chez Nous</h1>
         {# <h1>Se Retrouver Ici  |  Find Yourself Here  | Améne-toi chez Nous </h1> #}
        <a href="{{ path('app_home') }}#massage" class="btn-design">réserver</a>
    </div>
    <div class="intro-window">
    </div>
</div>


