<div class="container">

    {# <button id="myBtn">Open Modal</button> #}

    <div id="myModal" class="modal">

            <div class="modal-content">
                <span class="close">&times;</span>

            {# Modal content #}
                <div class="row">

                    <div class="col-4 ">
                        <img class="modal-img" src="https://beautyinsider.sg/wp-content/uploads/2021/03/shutterstock_291214463.jpg" alt="Japanese massage">
                    </div>

                    <div class="col-8 ps-5">
                        <h3 class="modal-title pb-3" id="showName">{{massage.name}}</h3>
                        <p class="modal-descr pb-4">
                            Using a combination of kneading, tapping, pulling and pressure, practitioners target the legs, back, arms and neck. Japanese Massage aims to bring about relaxation and healing not just with the physical body, but also on an emotional and spiritual level.
                        </p>
                        <p><span class="modal-price">60 min 160€</span></p>
                    </div>

                </div>

            </div>   
    </div>   
</div>







