{% extends 'base.html.twig' %}

{% block title %}Payment Fail!{% endblock %}

{% block body %}
    {{parent()}}

<div class="text-center cancel">
    <h1>Merci pour votre tentative de commande !</h1>
    <h3>  Votre paiement a échoué !  </h3>
        <p>     
        En cas de questions, veuillez nous contacter par e-mail:
        <a href="mailto:orders@example.com">failures@example.com</a>.
        </p>

        <a class="btn-design" href="{{ path('app_home') }}">retour à accueil</a>
</div>
{% endblock %}


