{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}



{% block body %}
    {{parent()}}


<div class="text-center success">
    <h1>Merci pour votre commande!</h1>
      <p>
        En cas de questions, veuillez nous contacter par e-mail:
        <a href="mailto:wf3-massage@relax.fr">wf3-massage@relax.fr</a>.
      </p>

    <a class="btn-design" href="{{ path('app_home') }}">retour à accueil</a>
  </div>

{% endblock %}
